'03 git clone a repository':
  '''
    title
        깃 저장소 복제

    description
        clones a git repository
        깃 저장소 복제

    tags
        #git, #github

  '''

# body
'command':
    'git clone <repository url> <folder name>'