<h1>example 2021-01-29</h1>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<h2>ng-class</h2>
<div>
  <p ng-class="{orange: orange, large: important, 'has-error': error}">Map Syntax Example</p>
  <label>
    <input type="checkbox" ng-model="orange">
    orange (apply "orange" class)
  </label><br>
  <label>
    <input type="checkbox" ng-model="important">
    important (apply "large" class)
  </label><br>
  <label>
    <input type="checkbox" ng-model="error">
    error (apply "has-error" class)
  </label>
  <hr>
  <p ng-class="style">Using String Syntax</p>
  <input type="text" ng-model="style" placeholder="Type: bold strike red" aria-label="Type: bold strike red">
  <hr>
  <p ng-class="[[style1], style2, style3]">Using Array Syntax</p>
  <input ng-model="style1" placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red"><br>
  <input ng-model="style2" placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red 2"><br>
  <input ng-model="style3" placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red 3"><br>
  <hr>
  <p ng-class="[style4, {orange: warning}]">Using Array and Map Syntax</p>
  <input ng-model="style4" placeholder="Type: bold, strike" aria-label="Type: bold, strike"><br>
  <label><input type="checkbox" ng-model="warning"> warning (apply "orange" class)</label>
</div>

<h2>ng-style</h2>
<div>
  <input type="button" value="set color" ng-click="myStyle={color:'red'}">
  <input type="button" value="set color" ng-click="myStyle.color='red'">
  <input type="button" value="set background" ng-click="myStyle={'background-color':'blue'}">
  <input type="button" value="clear" ng-click="myStyle={}">
  <br />
  <span ng-style="myStyle">Sample Text</span>
  <pre>myStyle={{myStyle}}</pre>
</div>

<h2>ng-disabled</h2>
<div>
  <label>Click me to toggle:
    <input type="checkbox" ng-model="checked"></label>
  <br />
  <button ng-model="button" ng-disabled="checked">Button</button>
</div>

<h2>ng-show</h2>
<div>
  Show: <input type="checkbox" ng-model="checkedShow"><br />
  <div class="check-element animate-show-hide" ng-show="checkedShow">
    I show up when your checkbox is checked.
  </div>
</div>

<h2>ng-hide</h2>
<div>
  Hide: <input type="checkbox" ng-model="checkedHide" aria-label="Toggle ngHide"><br />
  <div class="check-element animate-show-hide" ng-hide="checkedHide">
    I hide when your checkbox is checked.
  </div>
</div>

<h2>ng-if</h2>
<div>
  <label>Click me: <input type="checkbox" ng-model="checkedIf" ng-init="checkedIf=true" /></label><br />
  Show when checked:
  <span ng-if="checkedIf" class="animate-if">
    This is removed when the checkbox is unchecked.
  </span>
</div>

<h2>ng-switch</h2>
<div>
  <div ng-controller="SwitchController">
    <select ng-model="selection" ng-options="item for item in items">
    </select>
    <code>selection={{selection}}</code>
    <hr />
    <div class="animate-switch-container" ng-switch on="selection">
      <div class="animate-switch" ng-switch-when="settings|options" ng-switch-when-separator="|">Settings Div</div>
      <div class="animate-switch" ng-switch-when="home">Home Span</div>
      <div class="animate-switch" ng-switch-default>default</div>
    </div>
  </div>

</div>

<h2>ng-repeat</h2>
<div>
  <div ng-controller="repeatController">
    <button ng-click="removeFirst()">Remove First</button>
    <button ng-click="updateAge()">Update Age</button>
    <button ng-click="copy()">Copy</button>
    <br><button ng-click="reset()">Reset List</button>
    <br>
    <code>track by $id(friend)</code> (default):
    <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="friend in friends">
        {{friend.name}} is {{friend.age}} years old.
      </li>
    </ul>
    <code>track by $id(friend)</code> (default), with age one-time binding:
    <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="friend in friends">
        {{friend.name}} is {{::friend.age}} years old.
      </li>
    </ul>
    <code>track by friend.name</code>, with age one-time binding:
    <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="friend in friends track by friend.name">
        {{friend.name}} is {{::friend.age}} years old.
      </li>
    </ul>
    <code>track by $index</code>, with age one-time binding:
    <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="friend in friends track by $index">
        {{friend.name}} is {{::friend.age}} years old.
      </li>
    </ul>
  </div>
</div>

<h2>$filter</h2>
<div>
  <div ng-init="issues = [{title:'board bugfix', phone:'555-1276'},
  {title:'cors issue', phone:'800-BIG-MARY'},
  {title:'async style', phone:'555-4321'},
  {title:'search-text', phone:'555-5678'},
  {title:'sort problem', phone:'555-8765'}]"></div>

  <label>Search: <input ng-model="searchText"></label>
  <table id="searchTextResults">
    <tr>
      <th>Title</th>
      <th>Phone</th>
    </tr>
    <tr ng-repeat="issue in issues | filter:searchText">
      <td>{{issue.title | uppercase}}</td>
      <td>{{issue.phone}}</td>
    </tr>
  </table>
  <hr>
  <label>Any: <input ng-model="search.$"></label> <br>
  <label>Title only <input ng-model="search.title"></label><br>
  <label>Phone only <input ng-model="search.phone"></label><br>
  <label>Equality <input type="checkbox" ng-model="strict"></label><br>
  <table id="searchObjResults">
    <tr>
      <th>Title</th>
      <th>Phone</th>
    </tr>
    <tr ng-repeat="issueObj in issues | filter:search:strict">
      <td>{{issueObj.title}}</td>
      <td>{{issueObj.phone}}</td>
    </tr>
  </table>
</div>

<style>
  .strike {
    text-decoration: line-through;
  }

  .bold {
    font-weight: bold;
  }

  .red {
    color: red;
  }

  .has-error {
    color: red;
    background-color: yellow;
  }

  .orange {
    color: orange;
  }

  .large {
    font-size: large;
  }


  .animate-show-hide.ng-hide {
    opacity: 0;
  }

  .animate-show-hide.ng-hide-add,
  .animate-show-hide.ng-hide-remove {
    transition: all linear 1.5s;
  }

  .check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
  }


  .animate-show-hide.ng-hide {
    opacity: 0;
  }

  .animate-show-hide.ng-hide-add,
  .animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
  }

  .check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
  }

  .animate-if {
    background: white;
    border: 1px solid black;
    padding: 10px;
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity: 0;
  }

  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity: 1;
  }


  .animate-switch-container {
    position: relative;
    background: white;
    border: 1px solid black;
    height: 40px;
    overflow: hidden;
  }

  .animate-switch {
    padding: 10px;
  }

  .animate-switch.ng-animate {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .animate-switch.ng-leave.ng-leave-active,
  .animate-switch.ng-enter {
    top: -50px;
  }

  .animate-switch.ng-leave,
  .animate-switch.ng-enter.ng-enter-active {
    top: 0;
  }
</style>